# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/mach/mach/x64/Debug
/mach/.vs/mach/v15
/mach/mach/mach.vcxproj
/mach/mach/mach.vcxproj.filters
/mach/mach/mach.vcxproj.user
/mach/x64/Debug
/mach/mach.sln
